@media screen and (max-width: 576px){
    nav{
        flex-direction: column;
        padding: 10px;
        position: static;
        
    }
    .searchbox-icon-parent{
      width: 50%;
      margin: 0 auto;
    }

    

    nav ul {
        flex-direction: column;
        margin-top: 1rem;
    }
      header{
        background-position-x: right;
        background-position-y: bottom;
      }

      main{
        padding: 2rem;
      }
      
      .single-items-parent{
        grid-template-columns: 1fr;
        gap: 5rem;
      }
      .footer-container{
        grid-template-columns: 1fr;
        text-align: center;
      }#previous-next-parent h3 a{
        padding: 0.5rem;
      }

      #previous-next-parent div a {
        padding: 0.6rem;
      }
      #previous-next-parent{
        flex-direction: column;
        gap: 4rem;
        justify-content: center;
        align-items: center;
      }
}