@media screen and (max-width: 576px){
    nav{
        flex-direction: column;
        padding: 10px;
        position: static;

    }

    nav ul {
        flex-direction: column;
    }
      header{
        background-position-x: right;
        background-position-y: bottom;
      }

      main{
        padding-top: 10px;
      }
      .latest-page{
        display: none;
      }
      .single-items-parent{
        grid-template-columns: 1fr;
        gap: 5rem;
      }
      .footer-container{
        grid-template-columns: 1fr;
        text-align: center;
      }
}